<!-- Interpollation : {{}} -- One-way databinding -->
<!-- <app-customers></app-customers>
<app-home></app-home>
<app-first></app-first>
<app-second></app-second> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Premium Collectives</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/">Home</a></li>
            <li><a routerLink="/customers">Customers</a></li>
            <li><a routerLink="/orders">Orders</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>